<div class="page-header">
  <h1>Deduplicar Beneficiarios</h1>
</div>

<h2>Preparaciones automáticas</h2>
<ul>
  <% @res_preparar_automaticamente.split("\n").each do |m| %>
    <li>
      <%= m %>
    </li>
  <% end %>
</ul>

<div id="resultado">
</div> <!-- id: resultado -->

<h2>Deduplicación automática de beneficiarios</h2>

<%= render partial: 'resultado_tabla', locals: {tabla: @res_deduplicar} %>


