<% if can? :read, Msip::Oficina %>
  <label>
    Oficina
    <%= f.input :busactividad_oficina_id,
      collection: Msip::Oficina.habilitados,
      label: false,
      label_method: :nombre,
      value_method: :id,
      selected: Msip::ModeloHelper::poromision(
        params, :busactividad_oficina_id
      ),
      input_html: { 
        class: 'chosen-select',
        'data-enviarautomatico' => '',
        multiple: true
      },
      wrapper_html: {
        style: "width: 10em"
      },
      include_blank: '-- Oficina' %>
  </label>
<% end %>
