<% if can? :read, ::Territorial %>
  <label>
    Territorial
    <%= f.input :busactividad_territorial_id,
      collection: ::Territorial.habilitados,
      label: false,
      label_method: :nombre,
      value_method: :id,
      selected: Msip::ModeloHelper::poromision(
        params, :busactividad_territorial_id
      ),
      input_html: { 
        class: 'chosen-select',
        'data-enviarautomatico' => '',
        multiple: true
      },
      wrapper_html: {
        style: "width: 10em"
      },
      include_blank: '-- Territorial' %>
  </label>
<% end %>
