<div class="div-tabla-celda">
  <%= fpersona.association :ultimadiscapacidad,
    allow_blank: false,
    collection: ::Discapacidad.habilitados,
    input_html: { style: 'width: 6em' },
    label: false,
    label_method: :nombre,
    value_method: :id
 %>
</div>
<div class="div-tabla-celda">
  <%= fasistencia.association :perfilorgsocial,
    collection: Msip::Perfilorgsocial.habilitados,
    input_html: { style: 'width: 6em' },
    label: false,
    label_method: :nombre,
    value_method: :id
  %>
</div>
<div class="div-tabla-celda">
  <%= fasistencia.input :telefono,
    input_html: { style: 'width: 6em' },
    label: false
  %>
</div>

