<td>
  <%= fpersona.input :huella, as: :text,
    label: false,
    input_html: {
      class: 'autogrow', 
      rows: 2, 
      cols: 20,
      style: 'width: 200px',
      data: {
        "persona-huella-target": "huella"
      }
    }
  %>
</td>



