/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Tomselect */
@import "tom-select/dist/css/tom-select.bootstrap5.min.css";

@import "gridstack/dist/gridstack.min.css";
@import "gridstack/dist/gridstack-extra.min.css";

@import 'msip/motor.css';
@import 'mr519_gen/motor.css';
@import 'heb412_gen/motor.css';
@import 'cor1440_gen/motor.css';
@import 'sivel2_gen/motor.css';

/* De
 * https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap
 */
.centrar-vertical-dircol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  font-size: 0.8rem;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 40px;
  z-index: 9999;
}

#div_contenido {
  margin-top: 60px;
}


.pagination {
	text-align: center;
}

p.derechos {
	font-size: 80%;
	color: #000000;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
} 

.anexosdiv { 
	border: 1px solid #e7e7e7;
	border-radius: 5px;
}

.filtro-fila { 
	background-color: #e7e7e7;
}

