<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th>Asesor</th>
      <th>Oficina</th>
      <th>Fecha Inicial</th>
      <th>Fecha Final</th>
    </tr>
  </thead>
  <tbody>
    <% if @caso.casosjr %>
      <% @caso.casosjr.asesorhistorico.order(fechainicio: :desc, id: :desc).each do |ah| %>
        <tr>
          <td> <%= ah.usuario.nusuario %></td>
          <td> <%= ah.oficina.nombre if ah.oficina %></td>
          <td> <%= ah.fechainicio_localizada %> </td>
          <td> <%= ah.fechafin_localizada %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
