<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th>Asesor</th>
      <th>Fecha Inicial</th>
      <th>Fecha Final</th>
    </tr>
  </thead>
  <tbody>
    <% @caso.casosjr.asesorhistorico.order(:fechainicio).each do |ah| %>
      <tr>
        <td> <%= ah.usuario.nusuario %></td>
        <td> <%= ah.fechainicio_localizada %> </td>
        <td> <%= ah.fechafin_localizada%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
