<div class="panel-group" id="acordeonrs">

  <%= render 'memo', :f => f, :s => s %>

  <%= render partial: 'respuesta_nuevaac', locals: {f: f} %>

  <% @caso = f.object %>

  <div class='row'>
    <div class='col-md-12' 
      style='min-height: 2em; display: flex; align-items: flex-end;'>
      Atención/es en la/s que alguna persona de este caso es beneficiaria:
    </div>
  </div>
  <%= render partial: 'sivel2_gen/casos/tabla_atenciones' %>

  <a data-bs-toggle="collapse" href='#anexoscol'>
    <h5>ANEXOS</h5>
  </a>
  <div class="collapse multi-collapse" id="anexoscol">
    <%= render 'sivel2_gen/casos/anexos', :f => f  %>
  </div>
</div> <!-- acordeon -->
